*{
    /* margin: 0px; */
    /* padding: 0px; */
}
.test{
    color: blue;
    
    
}
/* box style  */


.box{
    padding: 20px;
    background-color: red  ;
    width: 110px;
    height: 110px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}
.container{
    display: flex;
    height: 500px;
    border: 1px solid gray;
    justify-content: space-around;
    align-items: center;
 }/*
.box, .box2, .box3{
    border: 1px solid gray;
} */